/*Heres what draw in the logging page*/
body {
    background-image: url('/images/background.png');
    background-color: black;
    height: 100vh;
    margin:0;
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-areas: 'h h' 'n m' 'f f';
    grid-template-rows: 170px auto 70px;
  }
  /**/
 
  img {
    border-radius: 1px;
    grid-area:2 / 1 / 2 / 4;
    display: flex;
    /*lign-items: center;*/
    justify-content: center;

    padding: 5px;
    width: 350px;
  }


  main {
    grid-area: 1 / 1 / 2 / 4;
    display: flex;
    /*align-items: center;*/
    justify-content: center;
  }
  /*Bellow here what square images is drawn*/
  .login-page{
    width: 360px;
    padding: 5% 0 0;
    margin: auto;
  }
  
  .border-page{
      position: relative;
      z-index: 1;
      background: #292727;
      max-width: 360px;
      max-height: 600px;
      margin: 0 auto 50px;
      padding: 25px ;
  }
  .form{
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 360px;
    max-height: 340px;
    margin: 0 auto 90px;
    padding: 20px ;
  }
  
  .form input{
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  .form button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4caaff;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
  }
  
  .form button:hover, .form button:active{
    background: #434343;
  }
  
  .form .message{
    margin: 15px 0 0;
    color: rgb(3, 22, 39);
    font-size: 12px;
  }
  
  .form .message a{
    color: #4cAF50;
    text-decoration: none;
  }
  
  
  .form .register-form{
    display: none
  }
  